In [2]:
#List Introduction
l=[10,20,30]
print(l)

[10, 20, 30]

In [3]:
print(type(l))
#check type

<class 'list'>

In [5]:
#Heterogenous
l2=[10, 12.2, "NTT"]
print(l2)

[10, 12.2, 'NTT']

In [6]:
#Length of List
print(len(l2))

3

In [7]:
#list using constructor List()
l3=list((10,20,3.33))
print(l3)

[10, 20, 3.33]

In [9]:
#Acess Values of List and positive indexing and Negative Indexing
print(l3[0])
print(l3[-1])

10
3.33

In [12]:
#Range of Index
R=[12,13,14,15,16,17,18,19,20]
print(R[0:5])
print(R[7:8])

[12, 13, 14, 15, 16]
[19]

In [13]:
#range with Stepsize
S=[1,2,3,4,5,6,7,7,8,9]
print(S[0:8:3])

[1, 4, 7]

In [15]:
#optional Range
O=[1,2,3,4,5,6,7,8,9]
print(O[::-1])
print(O[::])

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
#Replace values
R=[1, 2, 3, 4, 5, 6, 7, 8, 9]
print(R[::])
R[1:4]=["a",10,20]
print(R[::])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 'a', 10, 20, 5, 6, 7, 8, 9]

In [21]:
# Append to existing List
R=[1, 2, 3, 4, 5, 6, 7, 8, 9]
R.append(20)
print(R)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

In [22]:
#Inser in particular position
R=[1, 2, 3, 4, 5, 6, 7, 8, 9]
R.insert(3,20)
print(R)

[1, 2, 3, 20, 4, 5, 6, 7, 8, 9]

In [23]:
#Extend List
R=[1,2,3,4]
S=[5,6,7]
R.extend(S)
print(R)

[1, 2, 3, 4, 5, 6, 7]

In [24]:
#Remove Element from List
R=[1, 2, 3, 4, 5, 6, 7, 8, 9]
R.remove(8)
print(R)

[1, 2, 3, 4, 5, 6, 7, 9]

In [25]:
#Remove Last value of List
R=[1, 2, 3, 4, 5, 6, 7, 8, 9]
R.pop()
print(R)

[1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
#Delete a List
R=[1, 2, 3, 4, 5, 6, 7, 8, 9]
del R
R=[1, 2, 3, 4, 5, 6, 7, 8, 9]
del R[4]
print(R)

[1, 2, 3, 4, 6, 7, 8, 9]

In [31]:
#how to clear List
R=[1, 2, 3, 4, 5, 6, 7, 8, 9]
R.clear()
print(R)

[]

In [35]:
# For Loop
R=[1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in R:
 print(i)
 print(i+5)

1
6
2
7
3
8
4
9
5
10
6
11
7
12
8
13
9
14